<section id="exhibit" class="parallax-section">

  <ng-template #callAPIDialog>
    <form #userForm="ngForm" (ngSubmit)="onSend(userForm)">
    <h2 matDialogTitle>3-D Showroom Entrance</h2>
    <label>Email</label><br>
      <input 
      type="email"
      ngModel
      name="email"><br>
    <label>Ticket No.</label><br>
      <input 
      type="text"
      ngModel
      name="password"><br>
    <button mat-raised-button type="submit">Enter the Showroom</button>
</form>
  
<button mat-raised-button (click)="openReg()">Register</button>
</ng-template>

<div>
<button mat-raised-button (click)="openDialog()">Pick one</button>
</div>


<ng-template #callAPIDialogz>
  <form #regform="ngForm" (ngSubmit)="onReg(regform)">
  <h2 matDialogTitle>3-D Showroom Register</h2>
  <label>First Name</label><br>
    <input 
    type="text"
    ngModel
    name="firstname"><br>
  <label>Last Name</label><br>
    <input 
    type="text"
    ngModel
    name="lastname"><br>
  <label>Email</label><br>
    <input 
    type="email"
    ngModel
    name="email"><br>
  <button type="submit">Submit</button>
</form>
</ng-template>

</section>


  