<div class ="bground">
    <div class ="continer">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm" class = "form">
                <div id="user-data">
                  <img src="./assets/img/HEADER LOGO.png"
                  style ="width:200px; margin-left: auto;  margin-right: auto; display: block;
                  "class="img-fluid">
                    <div class="form-group">
                      <h4>Membership Form</h4>
                        <label for="name">Name</label>
                        <input type="text"
                        id="name"
                        class="form-control"
                        ngModel
                        name="name"
                        required>
                    </div>
                    <div class="form-group">
                        <label for="student-no">UST Student No.</label>
                        <input
                        type="text"
                        id="student-no"
                        class="form-control"
                        ngModel
                        name="student-no"
                        required>
                    </div>
                    <div class="form-group">
                        <label for="email">UST Email Address</label>
                        <input type="text"
                        id="email"
                        class="form-control"
                        ngModel
                        name="email"
                        required
                        email
                        #email = "ngModel"
                        pattern=".+@ust.edu.ph">
                    <span class ="help-block" *ngIf="!email.valid && email.touched" >Enter a Valid UST Email Address</span>
                    </div>
                    <div class="form-group">
                        <label for="section">Section</label>
                        <input type="text"
                        id="section"
                        class="form-control"
                        ngModel
                        name="section"
                        required>
                    </div>
                    <div class="form-group">
                        <label for="dob">Birthday</label>
                        <input type="date"
                        class="form-control"
                        ngModel
                        name="dob"
                        required>
                    </div>
                    <div>
                    <button class="btn"
                        type="submit"
                        [disabled] = "!f.valid">
                        <span>Submit Application</span>
                    </button>
                    </div>
                </div>
            </form>
        </div>
</div>