
<div class="container">
    <div class="main">
      <h3>Add Merchandise</h3>
      <form (ngSubmit)="addMerch(f)" #f="ngForm">
      <div class="form-group">
      <label>Merchandise Image</label><br>
      <img [src]="PhotoFilePath">
      <input type="file"
      id = "PhotoFileName"
      class="form-control"
      ngModel 
      name = "PhotoFileName"
      required
      (change)="uploadPhoto($event)">
      <label>Merch Name</label>
       <input 
       type = "text"
       id="mname"
       class="form-control"
       ngModel
       pattern="[a-zA-Z\s]+"
       name="mname"
      
       required
      >
      </div>
      <div>
       <label>Price</label>
       <input 
       type = "number"
       id="price"
       class="form-control"
       ngModel
       name="price"
       pattern="/^-?(0|[1-9]\d*)?$/"
       required>
      </div>
      <div>
       <label>Description</label>
       <input 
       type = "text"
       id="desc"
       class="form-control"
       ngModel
       name="desc"
       required
       >

      </div>
      <div>
        <button type="submit" class = "btn btn-primary">Submit</button>
      </div>
    </form>

    </div>


    </div>
         
  